{% extends 'header_footer/base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}

<div class="col-md-4 col-xs-2 nopadding"></div>
<div class="col-md-4 col-xs-8" id="content">
  <br><br>
  <h2 style="text-align: center;">Beekave에 로그인 </h2>
  <br>
  <form action="." method="post">{% csrf_token %}

    {% if form.errors %}
    <p class="errornote" style="border-radius:4px">비밀번호가 틀리거나 없는 ID입니다.</p>
    {% endif %}



    <fieldset class="aligned" style="border-radius:8px">

      <div class="form-row">
        <input class="form-control" id="{{ form.username.id_for_label }}" placeholder="사용자 ID" name="{{ form.username.html_name }}" type="text" />
      </div>

      <div class="form-row">
        <input class="form-control" id="{{ form.password.id_for_label }}" placeholder="비밀번호" name="{{ form.password.html_name }}" type="password" />
      </div>

    </fieldset>

    <div style="margin-top:20px;">
      <input class="btn btn-primary btn-lg btn-block" type="submit" style="margin-top: 5px;" value="로그인">
      <input type="hidden" name="next" value="{{ next }}" />
    </div>

    <script type="text/javascript">document.getElementById('id_username').focus();</script>
  </form>
</div>

<div class="col-md-4 col-xs-2 nopadding"></div>

{% endblock %}
