{% extends 'header_footer/base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}
<div class="col-md-2 nopadding"></div>
<div class="col-md-8 " id="content">
<div id="content">

    <h1>{{ title }}</h1>

    <form action="." method="post">{% csrf_token %}

    {% if form.errors %}
    <p class="errornote">Wrong! Please correct the error(s) below.</p>
    {% endif %}

    <p>이전 패스워드와 새로운 패스워드를 입력해주세요.</p>

    <fieldset class="aligned">

        <div class="form-row">
            {{ form.old_password.label_tag }} {{ form.old_password }}
        </div>

        <div class="form-row">
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        </div>

        <div class="form-row">
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Password Change"/>
    </div>

    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>

</div>
{% endblock %}
