{% extends 'header_footer/base.html' %}
{% load static from staticfiles %}
{% load self_defined_filters %}
{% block content %}

  <div class="hidden-xs">&nbsp</div>
  <div class="col-md-2 nopadding"></div>
  <div class="col-md-8 nopadding">
    <div class="col-md-12 hidden-xs nopadding">
      <div class="hpbanner_title oswald">전문가 추천</div>
      <div id="hpbanner">
        <table class="banner_table">
          <tr>
            <td >
              <div class="banner_container">
                <a id="hpb_item_url_0" href="/pictures/august-2017-movie-preview?ref=hp" class="hover_none">
                  <div id="hpb_item_img_0"  class="hpb_item_img"><img class="main_img" id="main_img_0" src="http://res.cloudinary.com/beekave/image/upload/v1504507947/sj_koxavg.png" alt="15 Films to See in August" ><img class="blur_img" src="http://static.beekave.com/images/home_banner/1501621831_3_2.jpg" alt="">
                    <div id="hpb_item_icon_0" class="hpb_item_icon hpbicon3">
                      <div id="hpb_item_beescore_0" class="hpb_item_beescore beescore_w lrg" style="display:none;"></div>
                    </div>
                  </div>
                </a>
                <div id="hpb_item_title_0" class="hpb_item_title oswald">
                  <span>게임 리뷰: 소녀전선</span>
                </div>
                <div id="hpb_item_deck_0" class="hpb_item_deck">
                  <span>소녀전선, 당신의 덕력을 채워줄 단 하나의 게임!  소녀전선은 중국의 미카 팀에서 개발한 RPG로, 세계 각국의 총기를 모에화한 RPG다. 유저는 권총, 소총, 돌격소총, 머신건, 샷건, 기관단총 등 다양한 종류의 소녀를 수집하고 이를 편성해 철혈공조의 계획을 저지해야 한다.</span>
                </div>
              </div>

            </td>
            <td >
              <div class="banner_container">
                <a id="hpb_item_url_1" href="/game/pc/tacoma?ref=hp" class="hover_none">
                  <div id="hpb_item_img_1"  class="hpb_item_img"><img class="main_img" id="main_img_1" src="http://res.cloudinary.com/beekave/image/upload/v1504507974/td_ybhhkg.png" alt="Tacoma" ><img class="blur_img" src="http://static.beekave.com/images/home_banner/1501551157_3_0.jpg" alt="">
                    <div id="hpb_item_icon_1" class="hpb_item_icon hpbicon1">
                      <div id="hpb_item_beescore_1" class="hpb_item_beescore beescore_w lrg score_favorable" >79
                      </div>
                    </div>
                  </div>
                </a><div id="hpb_item_title_1" class="hpb_item_title oswald">
                  <span>택시 운전사</span>
                </div>
                <div id="hpb_item_deck_1" class="hpb_item_deck">
                  <span>잊힐 뻔한 역사, 기억해야만 하는 역사. <의형제>, <고지전> 등의 영화를 연출했던 장훈 감독이 <택시운전사>로 돌아왔다. <택시운전사> 1980년 5월 18일 전라남도 광주시(현 광주광역시)에서 일어난 5·18 광주민주화 운동을 소재로 하는 실화 영화다. </span>
                </div>
              </div>

            </td>
            <td >
              <div class="banner_container">
                <a id="hpb_item_url_2" href="/feature/best-of-july-2017?ref=hp" class="hover_none">
                  <div id="hpb_item_img_2"  class="hpb_item_img"><img class="main_img" id="main_img_2" src="http://res.cloudinary.com/beekave/image/upload/v1504507947/bd_oiziyd.png" alt="Best of July" ><img class="blur_img" src="http://static.beekave.com/images/home_banner/1501543639_1_3.png" alt="">
                  </div>
                </a>
                <div id="hpb_item_title_2" class="hpb_item_title oswald">
                  <span>개봉 예정 영화</span>
                </div>
                <div id="hpb_item_deck_2" class="hpb_item_deck">
                  <span> 귀신 같은 운전 실력, 완벽한 플레이리스트를 갖춘 탈출 전문 드라이버 베이비.어린 시절 사고로 청력에 이상이 생긴 그에게 음악은 필수다.그러던 어느 날, 운명 같은 그녀 데보라 </span>
                </div>
              </div>

            </td>
            <td >
              <div class="banner_container">
                <a id="hpb_item_url_3" href="/tv/manhunt-unabomber/season-1?ref=hp" class="hover_none">
                  <div id="hpb_item_img_3"  class="hpb_item_img"><img class="main_img" id="main_img_3" src="http://res.cloudinary.com/beekave/image/upload/v1504507947/ak_z3u8pq.png" alt="Manhunt: Unabomber" ><img class="blur_img" src="http://static.beekave.com/images/home_banner/1501544090_1_3.jpg" alt="">
                    <div id="hpb_item_icon_3" class="hpb_item_icon hpbicon1">
                      <div id="hpb_item_beescore_3" class="hpb_item_beescore beescore_w lrg score_favorable" >70</div>
                    </div>
                  </div>
                </a>
                <div id="hpb_item_title_3" class="hpb_item_title oswald">
                  <span>AKIRA 재개봉</span>
                </div>
                <div id="hpb_item_deck_3" class="hpb_item_deck">
                  <span>지난 수십년간 씹고 뜯고 맛봐온 <아키라>가 지닌 매력의 정체를 재개봉을 맞아 다시 되돌아봤다. 사실 이 글은 그 이유를 꼼꼼하게 따져 묻는 글이라기보다 <아키라> 제작 과정 전반을 되짚어보면서 다시 한번 팬심을 고백하는 팬레터라 해도 무방하다.</span>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>




    <div class="hidden-xs">&nbsp</div>


    {%if top10_movie_list %}
    <div class="col-md-4 minPadding">
      <table class="releases table">
        <thead>
          <tr>
            <th colspan="3">
              <a class="oswald upper" href="/browse/movies/release-date/theaters/date">영화</a>
            </th>
          </tr>
        </thead>
        <tbody>

          {% for movie in top10_movie_list %}
          {% if movie.rank == 1 %}
          <tr class="first">
            <td class="img_col">
              <div class="img_wrap">
                <a href="/movie/m{{movie.movieID}}">

                  <img class="product_image small_image" src="{{movie.thumbnail}}" alt="{{movie.title}}" style="width:53px; height:68px;" />
                </a>
              </div>
            </td>

            <td class="title_col" >
              <a class="title" href="/movie/m{{movie.movieID}}">
                {{movie.title}}
              </a>
              <div>
                <span class="sub_title">
                  {{movie.rate}}
                </span>
              </div>
            </td>

            <td class="score_col">
              <a class="beescore_anchor" href="/movie/m{{movie.movieID}}">
                {% if movie.score > 60 %}
                <span class="beescore_w medium movie positive">{{movie.score}}</span>
                {% elif movie.score > 40 %}
                <span class="beescore_w medium movie mixed">{{movie.score}}</span>
                {% else %}
                <span class="beescore_w medium movie negative">{{movie.score}}</span>
                {% endif %}
              </a>
            </td>
          </tr>

          {% else %}
          <tr >
            <td class="title_col" colspan="2">
              <a class="title" href="/movie/m{{movie.movieID}}">
                {{movie.title}}
              </a>
              <div>
                <span class="sub_title">
                  {{movie.rate}}
                </span>
              </div>
            </td>
            <td class="score_col">
              <a class="beescore_anchor" href="/movie/m{{movie.movieID}}">
                {% if movie.score > 60 %}
                <span class="beescore_w small movie positive">{{movie.score}}</span>
                {% elif movie.score > 40 %}
                <span class="beescore_w small movie mixed">{{movie.score}}</span>
                {% else %}
                <span class="beescore_w small movie negative">{{movie.score}}</span>
                {% endif %}
              </a>
            </td>
          </tr>

          {% endif %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="/browse/movies/release-date/theaters/date">All new Movies &raquo;</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    {% endif %}

    {% if top10_game_list %}
    <div class="col-md-4 minPadding">
      <table class="releases table">
        <thead>
          <tr>
            <th colspan="3">
              <a class="oswald upper" href="/browse/games">게임</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for game in top10_game_list %}
          {% if game.rank == 1 %}
          <tr class="first">
            <td class="img_col">
              <div class="img_wrap">
                <a href="/game/g{{game.gameID}}">

                  <img class="product_image small_image" src="{{game.thumbnail}}" alt="{{game.title}}" style="width:53px; height:68px;"/>
                </a>
              </div>
            </td>

            <td class="title_col" >
              <a class="title" href="/game/g{{game.gameID}}">
                {{game.title}}
              </a>
              <div>
                <a class="sub_title" href="/game/{{game.platform}}">
                  {{game.platform}}
                </a>
              </div>
            </td>
            <td class="score_col">
              <a class="beescore_anchor" href="/game/g{{game.gameID}}">
                {% if game.score > 60 %}
                <span class="beescore_w medium movie positive">{{game.score}}</span>
                {% elif game.score > 40 %}
                <span class="beescore_w medium movie mixed">{{game.score}}</span>
                {% else %}
                <span class="beescore_w medium movie negative">{{game.score}}</span>
                {% endif %}
              </a>
            </td>
          </tr>
          {% else %}
          <tr >
            <td class="title_col" colspan="2">
              <a class="title" href="/game/g{{game.gameID}}">
                {{game.title}}
              </a>
              <div>
                <a class="sub_title" href="/game/{{game.platform}}">
                  {{game.platform}}
                </a>
              </div>
            </td>

            <td class="score_col">
              <a class="beescore_anchor" href="/game/g{{game.gameID}}">
                {% if game.score > 60 %}
                <span class="beescore_w small movie positive">{{game.score}}</span>
                {% elif game.score > 40 %}
                <span class="beescore_w small movie mixed">{{game.score}}</span>
                {% else %}
                <span class="beescore_w small movie negative">{{game.score}}</span>
                {% endif %}
              </a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="/browse/games">All new Games &raquo;</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    {% endif %}

    {% if top10_tv_list %}
    <div class="col-md-4 minPadding">
      <table class="releases table">
        <thead>
          <tr>
            <th colspan="3">
              <a class="oswald upper" href="/tv">TV 시리즈</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for tv in top10_tv_list %}
          {% if tv.rank == 1 %}
          <tr class="first">
            <td class="img_col">
              <div class="img_wrap">
                <a href="/tv/t{{tv.tvId}}">

                  <img class="product_image small_image" src="{{tv.thumbnail}}" alt="{{tv.title}}" style="width:53px; height:68px;"/>
                </a>
              </div>
            </td>

            <td class="title_col" >
              <a class="title" href="/tv/t{{tv.tvId}}">
                {{tv.title}}
              </a>
              <div>
                <a class="sub_title" href="/{{tv.broadcaster}}">
                  {{tv.broadcaster}}
                </a>
              </div>
            </td>
            <td class="score_col">
              <a class="beescore_anchor" href="/tv/t{{tv.tvId}}">
                {% if tv.score > 60 %}
                <span class="beescore_w medium movie positive">{{tv.score}}</span>
                {% elif tv.score > 40 %}
                <span class="beescore_w medium movie mixed">{{tv.score}}</span>
                {% else %}
                <span class="beescore_w medium movie negative">{{tv.score}}</span>
                {% endif %}
              </a>
            </td>
          </tr>
          {% else %}
          <tr >
            <td class="title_col" colspan="2">
              <a class="title" href="/tv/t{{tv.tvId}}">
                {{tv.title}}
              </a>
              <div>
                <a class="sub_title" href="/{{tv.broadcaster}}">
                  {{tv.broadcaster}}
                </a>
              </div>
            </td>
            <td class="score_col">
              <a class="beescore_anchor" href="/tv/t{{tv.tvId}}">
                {% if tv.score > 60 %}
                <span class="beescore_w small movie positive">{{tv.score}}</span>
                {% elif tv.score > 40 %}
                <span class="beescore_w small movie mixed">{{tv.score}}</span>
                {% else %}
                <span class="beescore_w small movie negative">{{tv.score}}</span>
                {% endif %}
              </a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <a href="/browse/tv/release-date/new-series/date">all new tv &raquo;</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    {% endif %}




    <div class="side_recommend">


      <div id="taboola-right-rail-thumbnails"></div>
      <!--광고 들어가는 자리 -->
    </div>



    <div class="module follow_like_module">
      <div class="body">
        <div class="follow_twitter">
          <a href="https://www.instagram.com/beekave" class="twitter-follow-button">Follow @Beekave</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 nopadding"></div>
  </div>

{% endblock %}
